<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="corpo">
		<h:form>
 			<p:tabView orientation="top" effect="slide" style="font-size: 12px;" dynamic="true">
				<p:tab title="Produto" closable="true">
					<ui:include src="/paginas/cadastros/estoque/produto.xhtml" />
				</p:tab>
				<p:tab title="Subgrupo de produtos" closable="true">
					<ui:include src="/paginas/cadastros/estoque/subgrupo.xhtml"/>
				</p:tab>
				<p:tab title="Grupo de produtos" closable="true">
					<ui:include src="/paginas/cadastros/estoque/grupo.xhtml" />
				</p:tab>
				<p:tab title="Unidade" closable="true">
					<ui:include src="/paginas/cadastros/estoque/unidade.xhtml" />
				</p:tab>
				<p:tab title="Depósito" closable="true">
					<ui:include src="/paginas/cadastros/estoque/deposito.xhtml" />
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>