<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de grupos</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{grupoProdutoBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Grupo de Produtos" styleClass="panel-formulario">
				<h:form id="frm-grupo">
					<p:focus for="grupo" />
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-5">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" disabled="#{empty grupoProdutoBean.grupoProduto}" styleClass="somente-leitura" readonly="true" value="#{grupoProdutoBean.grupoProduto.pkgrupoproduto}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do grupo" for="grupo" />
							<p:inputText id="grupo" required="true" onkeyup="maiusculo(this)" disabled="#{empty grupoProdutoBean.grupoProduto}" value="#{grupoProdutoBean.grupoProduto.grupoproduto}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{grupoProdutoBean.novo}"	rendered="#{empty grupoProdutoBean.grupoProduto}" update="frm-grupo" />
						<p:commandButton value="Salvar" action="#{grupoProdutoBean.salvar}" icon="fa fa-save" rendered="#{not empty grupoProdutoBean.grupoProduto}" update="frm-grupo frm-localizar-grupo" />
						<p:commandButton value="Excluir" action="#{grupoProdutoBean.remover}" process="@this" update="frm-grupo frm-localizar-grupo" icon="fa fa-remove" disabled="#{empty grupoProdutoBean.grupoProduto.pkgrupoproduto}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o grupo de produtos?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{grupoProdutoBean.limpar}" icon="fa fa-refresh" disabled="#{empty grupoProdutoBean.grupoProduto}" update="frm-grupo" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar-grupo">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-grupo" title="Pesquisa pelo nome do grupo." onkeyup="maiusculo(this)" value="#{grupoProdutoBean.nomegrupo}" placeholder="Descrição do grupo" />
						<p:commandButton value="Pesquisar" action="#{grupoProdutoBean.pesquisar}" icon="fa fa-search" update="frm-localizar-grupo" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty grupoProdutoBean.grupoProdutos}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-grupos" fileName="Relação_grupos_produto"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty grupoProdutoBean.grupoProdutos}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-grupos" fileName="Relação_grupos_produto" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{grupoProdutoBean.grupoProdutos}" 
						id="lista-de-grupos" 
						var="g" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{grupoProdutoBean.grupoProduto}" 
						selectionMode="single" 
						rowKey="#{g.pkgrupoproduto}">							
						<p:ajax event="rowSelect" update="frm-grupo" />
			 			<p:ajax event="rowUnselect" update="frm-grupo" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{g.pkgrupoproduto}" />
						</p:column>
						<p:column headerText="Grupo">
							<p:outputLabel value="#{g.grupoproduto}" />
						</p:column>
					</p:dataTable>
				</h:form>				
			</p:panel>
		</div>
	</ui:define>
</ui:composition>