<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de subgrupos</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{subGrupoProdutoBean.iniciar}"/>
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de SubGrupo de Produtos" styleClass="panel-formulario">
				<h:form id="frm-subgrupo">
					<p:focus for="subgrupo"/>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-6, ui-grid-col-5">
						<p:panelGrid>
							<h:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" disabled="#{empty subGrupoProdutoBean.subgrupoProduto}" styleClass="somente-leitura" readonly="true" value="#{subGrupoProdutoBean.subgrupoProduto.pksubgrupo}" />
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Descrição do subgrupo" for="subgrupo" />
							<p:inputText id="subgrupo" required="true" onkeyup="maiusculo(this)" disabled="#{empty subGrupoProdutoBean.subgrupoProduto}" value="#{subGrupoProdutoBean.subgrupoProduto.subgrupo}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Grupo de Produtos" for="subgrupo-grupo" />
							<p:autoComplete id="subgrupo-grupo"
									value="#{subGrupoProdutoBean.subgrupoProduto.grupoProduto}"
									required="true"
									title="Grupo de produtos"  
									disabled="#{empty subGrupoProdutoBean.subgrupoProduto}"
									onkeyup="maiusculo(this)"
									var="grupo"
									itemValue="#{grupo}"
									itemLabel="#{grupo.grupoproduto}" 
									completeMethod="#{subGrupoProdutoBean.listarGrupoProdutos}"
									minQueryLength="1"
									maxResults="100"
									queryDelay="1000"
									effect="blind"
									dropdownMode="current"
									forceSelection="true"
									scrollHeight="150"/>
						</p:panelGrid>
					</p:panelGrid>					
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{subGrupoProdutoBean.novo}" rendered="#{empty subGrupoProdutoBean.subgrupoProduto}" update="frm-subgrupo" />
						<p:commandButton value="Salvar" action="#{subGrupoProdutoBean.salvar}" icon="fa fa-save" rendered="#{not empty subGrupoProdutoBean.subgrupoProduto}" update="frm-subgrupo frm-localizar" />
						<p:commandButton value="Excluir" action="#{subGrupoProdutoBean.remover}" process="@this" update="frm-subgrupo frm-localizar" icon="fa fa-remove" disabled="#{empty subGrupoProdutoBean.subgrupoProduto.pksubgrupo}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o subgrupo de produtos?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{subGrupoProdutoBean.limpar}" icon="fa fa-refresh" disabled="#{empty subGrupoProdutoBean.subgrupoProduto}" update="frm-subgrupo" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator/>
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-subgrupo" title="Pesquisa pelo nome do subgrupo de produtos." onkeyup="maiusculo(this)" value="#{subGrupoProdutoBean.nomesubgrupo}" placeholder="Descrição do SubGrupo de Produtos" />
						<p:commandButton value="Pesquisar" action="#{subGrupoProdutoBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty subGrupoProdutoBean.subGrupoProdutos}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-subgrupos" fileName="Relação_subgrupos_produto"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty subGrupoProdutoBean.subGrupoProdutos}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
					   			<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-subgrupos" fileName="Relação_subgrupos_produto" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{subGrupoProdutoBean.subGrupoProdutos}" 
						id="lista-de-subgrupos" 
						var="subgrupo"
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
			 			paginator="true" reflow="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{subGrupoProdutoBean.subgrupoProduto}"
			 			selectionMode="single"
			 			rowKey="#{subgrupo.pksubgrupo}">			 					
			 				<p:ajax event="rowSelect" update="frm-subgrupo" />
			 				<p:ajax event="rowUnselect" update="frm-subgrupo" /> 						 	
							<p:column headerText="Código" styleClass="coluna-codigo">
								<p:outputLabel value="#{subgrupo.pksubgrupo}"/>
							</p:column>
							<p:column headerText="SubGrupo">
								<p:outputLabel value="#{subgrupo.subgrupo}"/>
							</p:column>
							<p:column headerText="Grupo de produtos">
								<p:outputLabel value="#{subgrupo.grupoProduto.grupoproduto}"/>
							</p:column>
					</p:dataTable>					
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>