<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Tipo de pedido</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{tipoPedidoBean.iniciar}"/>
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Tipo de pedido" styleClass="panel-formulario">
				<h:form id="frm-tipo-pedido">
					<p:focus for="tipo-pedido"/>
					<p:panelGrid columns="3" 
						layout="grid"
						styleClass="panelgrid-noborder"  
						columnClasses="ui-grid-col-1, ui-grid-col-5, ui-grid-col-2">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" disabled="#{empty tipoPedidoBean.tipoPedido}" styleClass="somente-leitura" readonly="true" value="#{tipoPedidoBean.tipoPedido.pktipopedido}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do Tipo de pedido" for="tipo-pedido" />
							<p:inputText label="tipo-pedido" id="tipo-pedido" disabled="#{empty tipoPedidoBean.tipoPedido}" required="true" onkeyup="maiusculo(this)" value="#{tipoPedidoBean.tipoPedido.tipopedido}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Tipo" for="tipo" />
							<p:selectOneMenu id="tipo" title="Selecione o tipo de pedido." required="true" value="#{tipoPedidoBean.tipoPedido.tipo}" disabled="#{empty tipoPedidoBean.tipoPedido}">
								<f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
								<f:selectItem itemLabel="Entrada" itemValue="E" />
								<f:selectItem itemLabel="Saída" itemValue="S" />
								<f:selectItem itemLabel="Ambos" itemValue="A" />
							</p:selectOneMenu>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{tipoPedidoBean.novo}"  rendered="#{empty tipoPedidoBean.tipoPedido}" update="frm-tipo-pedido" />
						<p:commandButton value="Salvar" action="#{tipoPedidoBean.salvar}" icon="fa fa-save" rendered="#{not empty tipoPedidoBean.tipoPedido}" update="frm-tipo-pedido frm-localizar"/>
						<p:commandButton value="Excluir" action="#{tipoPedidoBean.remover}" process="@this" update="frm-tipo-pedido frm-localizar" icon="fa fa-remove" disabled="#{empty tipoPedidoBean.tipoPedido.pktipopedido}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o tipo de pedido?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{tipoPedidoBean.limpar}" icon="fa fa-refresh" disabled="#{empty tipoPedidoBean.tipoPedido}" update="frm-tipo-pedido" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator/>
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-tipo-pedido" value="#{tipoPedidoBean.nomeTipoPedido}" title="Pesquisa pelo nome do Tipo de pedido." onkeyup="maiusculo(this)" placeholder="Descrição do Tipo de pedido" />
				  		<p:commandButton value="Pesquisar" action="#{tipoPedidoBean.pesquisar}" icon="fa fa-search" update="frm-tipo-pedido frm-localizar" />
				  		<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty tipoPedidoBean.tipoPedidos}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-tipos-de-pedidos" fileName="Relação_tipos_pedido"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty tipoPedidoBean.tipoPedidos}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
					   			<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-tipos-de-pedidos" fileName="Relação_tipos_pedido" />
							</p:commandLink>
						</p:panelGrid>
			  		</p:panelGrid>
			  		<p:dataTable value="#{tipoPedidoBean.tipoPedidos}" id="lista-de-tipos-de-pedidos" var="t" rows="5" paginator="true" reflow="true" paginatorAlwaysVisible="false" paginatorPosition="bottom"
			 			emptyMessage="Nenhum registro satisfaz à pesquisa." selection="#{tipoPedidoBean.tipoPedido}" selectionMode="single" rowKey="#{t.pktipopedido}">			 				
			 				<p:ajax event="rowSelect" update="frm-tipo-pedido" />
			 				<p:ajax event="rowUnselect" update="frm-tipo-pedido" />		 						 	
							<p:column headerText="Código" styleClass="coluna-codigo">
								<p:outputLabel value="#{t.pktipopedido}"/>
							</p:column>
							<p:column headerText="Tipo de pedido">
								<p:outputLabel value="#{t.tipopedido}"/>
							</p:column>
							<p:column headerText="Tipo" styleClass="coluna-codigo">
								<p:outputLabel value="#{t.tipo}"/>
							</p:column>
					</p:dataTable>	
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>