<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de unidades</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{unidadeProdutoBean.iniciar}"/>
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de unidade" styleClass="panel-formulario">
				<h:form id="frm-unidade">
					<p:focus for="unidade"/>
					<p:panelGrid columns="4" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" disabled="#{empty unidadeProdutoBean.unidadeProduto}" styleClass="somente-leitura" readonly="true" value="#{unidadeProdutoBean.unidadeProduto.pkunidade}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da unidade" for="unidade" />
							<p:inputText label="Unidade" id="unidade" disabled="#{empty unidadeProdutoBean.unidadeProduto}" required="true" onkeyup="maiusculo(this)" value="#{unidadeProdutoBean.unidadeProduto.unidade}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Sigla" for="sigla" />
							<p:inputText id="sigla" disabled="#{empty unidadeProdutoBean.unidadeProduto}" required="true" onkeyup="maiusculo(this)" value="#{unidadeProdutoBean.unidadeProduto.sigla}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Fator" for="fator" />
							<p:inputText id="fator" disabled="#{empty unidadeProdutoBean.unidadeProduto}" required="true" onkeyup="maiusculo(this)" value="#{unidadeProdutoBean.unidadeProduto.fator}" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{unidadeProdutoBean.novo}"  rendered="#{empty unidadeProdutoBean.unidadeProduto}" update="frm-unidade" />
						<p:commandButton value="Salvar" action="#{unidadeProdutoBean.salvar}" icon="fa fa-save" rendered="#{not empty unidadeProdutoBean.unidadeProduto}" update="frm-unidade frm-localizar"/>
						<p:commandButton value="Excluir" action="#{unidadeProdutoBean.remover}" process="@this" update="frm-unidade frm-localizar" icon="fa fa-remove" disabled="#{empty unidadeProdutoBean.unidadeProduto.pkunidade}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir a unidade de produto?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{unidadeProdutoBean.limpar}" icon="fa fa-refresh" disabled="#{empty unidadeProdutoBean.unidadeProduto}" update="frm-unidade" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator/>
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-unidade" value="#{unidadeProdutoBean.nomeunidade}" title="Pesquisa pelo nome da unidade." onkeyup="maiusculo(this)" placeholder="Descrição da unidade" />
				  		<p:commandButton value="Pesquisar" action="#{unidadeProdutoBean.pesquisar}" icon="fa fa-search" update="frm-unidade frm-localizar" />
				  		<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty unidadeProdutoBean.unidadeProdutos}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-unidades" fileName="Relação_unidades_estoque"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty unidadeProdutoBean.unidadeProdutos}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
					   			<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-unidades" fileName="Relação_unidades_estoque" />
							</p:commandLink>
						</p:panelGrid>
			  		</p:panelGrid>
			  		<p:dataTable value="#{unidadeProdutoBean.unidadeProdutos}" id="lista-de-unidades" var="u" rows="15" paginator="true" reflow="true" paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom" emptyMessage="Nenhum registro satisfaz à pesquisa." selection="#{unidadeProdutoBean.unidadeProduto}" selectionMode="single" rowKey="#{u.pkunidade}">			 					
			 				<p:ajax event="rowSelect" update="frm-unidade" />
			 				<p:ajax event="rowUnselect" update="frm-unidade" />	 						 	
							<p:column headerText="Código" styleClass="coluna-codigo">
								<p:outputLabel value="#{u.pkunidade}"/>
							</p:column>
							<p:column headerText="Unidade">
								<p:outputLabel value="#{u.unidade}"/>
							</p:column>
							<p:column headerText="Sigla" styleClass="coluna-codigo">
								<p:outputLabel value="#{u.sigla}"/>
							</p:column>
							<p:column headerText="Fator" styleClass="coluna-codigo">
								<p:outputLabel value="#{u.fator}"/>
							</p:column>
					</p:dataTable>	
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>