<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="corpo">
		 <h:form id="frm-matricula">
		 	<p:panel header="Cadastro de matrícula" styleClass="panel-formulario" >
				 <p:panelGrid columns="4" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
				 	<p:panelGrid>
					 	<p:outputLabel value="Ano letivo" for="ano-letivo"/>
					 	<p:selectOneMenu id="ano-letivo"/>
				 	</p:panelGrid>
				 	<p:panelGrid>
				 		<p:outputLabel value="Matrícula" for="matricula" />
				 		<p:inputText id="matricula"/>
				 	</p:panelGrid>
				 	<p:panelGrid>
				 		<p:outputLabel value="Data" for="data-matricula"/>
				 		<p:calendar id="data-matricula" locale="#{usuario.locale}" mask="true" />
				 	</p:panelGrid>
				 </p:panelGrid>
			</p:panel>
       </h:form>
	</ui:define>
</ui:composition>