<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Fornecedor</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{pessoaJuridicaBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de Fornecedor" styleClass="panel-formulario">
			<h:form id="frm-pessoajuridica">
				<p:focus for="cnpj" />
				<p:panelGrid columns="4" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-2, ui-grid-col-6, ui-grid-col-3, ui-grid-col-1">
					<p:panelGrid>
						<p:outputLabel value="CNPJ" for="cnpj" />
						<p:inputMask id="cnpj" mask="99.999.999/9999-99" required="true"
							disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" value="#{pessoaJuridicaBean.pessoaJuridica.cnpj}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Razão Social" for="razao-social" />
						<p:inputText label="Razão Social" id="razao-social"  value="#{pessoaJuridicaBean.pessoaJuridica.razaosocial}" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" required="true" onkeyup="maiusculo(this)" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nome Fantasia" for="nome-fantasia" />
						<p:inputText label="Nome Fantasia" id="nome-fantasia"  value="#{pessoaJuridicaBean.pessoaJuridica.nomefantasia}" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" required="true" onkeyup="maiusculo(this)" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Fundação" for="dtfund" />
						<p:calendar id="dtfund" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" locale="#{usuario.locale}" navigator="true" mask="true" value="#{pessoaJuridicaBean.pessoaJuridica.datafundacao}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="5" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2, ui-grid-col-3, ui-grid-col-3">
					<p:panelGrid>
						<p:outputLabel value="Insc. Municipal" for="insc-munic" />
						<p:inputMask id="insc-munic"  disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" value="#{pessoaJuridicaBean.pessoaJuridica.inscricamunicipal}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Insc. Estadual" for="insc-est" />
						<p:inputMask id="insc-est"  disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" value="#{pessoaJuridicaBean.pessoaJuridica.inscricaestadual}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Telefone" for="telefone" />
						<p:inputMask id="telefone" mask="(99) 9999-9999" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" value="#{pessoaJuridicaBean.pessoaJuridica.contato.comercial}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="email" for="email" />
						<p:inputText id="email"  disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" onkeyup="minusculo(this)" value="#{pessoaJuridicaBean.pessoaJuridica.contato.email}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Responsável" for="responsavel" />
						<p:inputText label="Responsável" id="responsavel" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" onkeyup="maiusculo(this)" value="#{pessoaJuridicaBean.pessoaJuridica.contato.funcionario}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="7" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-2, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-2, ui-grid-col-2">
 					<p:panelGrid>
	 					<p:outputLabel value="CEP" for="cep" />
						<p:inputText id="cep" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.cep}" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}">
							<p:ajax event="blur" listener="#{pessoaJuridicaBean.buscarCEP}" update="municipio endereco bairro"/>
						</p:inputText>
 					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Município" for="municipio" />
						<p:autoComplete id="municipio" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.municipio}" title="Selecione o Município do endereço do fornecedor." 
								disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" var="municipio" itemValue="#{municipio}" itemLabel="#{municipio.municipio} #{municipio.uf.sigla}" 
								completeMethod="#{pessoaJuridicaBean.listarMunicipios}" minQueryLength="1" maxResults="100" queryDelay="2000" effect="blind"
								dropdownMode="current" forceSelection="true" scrollHeight="150"/>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Logradouro" for="tipologradouro" />
						<p:autoComplete id="tipologradouro" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.tipoLogradouro}" title="Selecione o Tipo de Logradouro do endereço do fornecedor."
							disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" var="tipologradouro" itemValue="#{tipologradouro}" itemLabel="#{tipologradouro.tipologradouro}" 
							completeMethod="#{pessoaJuridicaBean.listarTiposLogradouro}" minQueryLength="1" maxResults="100" queryDelay="2000" effect="blind"
							dropdownMode="current" forceSelection="true" scrollHeight="150"/>		
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Endereço" for="endereco" />
						<p:inputText id="endereco"  disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" onkeyup="maiusculo(this)" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.endereco}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nº" for="numero" />
						<p:inputText id="numero"  disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" onkeyup="maiusculo(this)" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.numero}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Complemento" for="complemento" />
						<p:inputText id="complemento"  disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" onkeyup="maiusculo(this)" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.complemento}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Bairro" for="bairro" />
						<p:autoComplete id="bairro" value="#{pessoaJuridicaBean.pessoaJuridica.endereco.bairro}" title="Selecione o bairro do endereço do fornecdor."
							disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" var="bairro" itemValue="#{bairro}" itemLabel="#{bairro.bairro}" 
							completeMethod="#{pessoaJuridicaBean.listarBairros}" minQueryLength="1" maxResults="100" queryDelay="2000" effect="blind"
							dropdownMode="current" forceSelection="true" scrollHeight="150"/>
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid  columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
					<p:commandButton value="Novo" action="#{pessoaJuridicaBean.novo}" rendered="#{empty pessoaJuridicaBean.pessoaJuridica}" update="frm-pessoajuridica" />
					<p:commandButton value="Salvar" action="#{pessoaJuridicaBean.salvar}" icon="fa fa-save" rendered="#{not empty pessoaJuridicaBean.pessoaJuridica}" update="frm-pessoajuridica frm-localizar" />
					<p:commandButton value="Excluir" action="#{pessoaJuridicaBean.remover}" process="@this" icon="fa fa-remove" update="frm-pessoajuridica frm-localizar" disabled="#{empty pessoaJuridicaBean.pessoaJuridica.pkpessoajuridica}" >
						<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o fornecedor?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="fa fa-refresh" action="#{pessoaJuridicaBean.limpar}" disabled="#{empty pessoaJuridicaBean.pessoaJuridica}" update="frm-pessoajuridica" immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid 
					id="pnl-pesquisa" columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
					<p:inputText id="nome-fornecedor" value="#{pessoaJuridicaBean.nomefantasia}" onkeyup="maiusculo(this)" title="Pesquisa pelo nome fantasia." placeholder="Pesquisar pelo nome fantasia." disabled="#{empty pessoaJuridicaBean.pessoasJuridica}" />
					<p:commandButton value="Pesquisar" action="#{pessoaJuridicaBean.pesquisar}" icon="fa fa-search" update="frm-pessoajuridica frm-localizar" disabled="#{empty pessoaJuridicaBean.pessoasJuridica}" />
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty pessoaJuridicaBean.pessoasJuridica}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-fornecedores" fileName="Relação_fornecedores"/>
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty pessoaJuridicaBean.pessoasJuridica}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
			   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-fornecedores" fileName="Relação_fornecedores" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable 
					value="#{pessoaJuridicaBean.pessoasJuridica}" id="lista-fornecedores"  var="p" rows="5" paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" emptyMessage="Nenhum registro satisfaz à pesquisa." selection="#{pessoaJuridicaBean.pessoaJuridica}" selectionMode="single" 
					rowKey="#{p.pkpessoajuridica}">
					<p:ajax event="rowSelect" update="frm-pessoajuridica" />
					<p:ajax event="rowUnselect" update="frm-pessoajuridica" />
					<p:column headerText="CNPJ" styleClass="coluna-cnpj">
						<p:outputLabel value="#{p.cnpj}" />
					</p:column>
					<p:column headerText="Nome Fantasia">
						<p:outputLabel value="#{p.nomefantasia}" />
					</p:column>
					<p:column headerText="Responsável">
						<p:outputLabel value="#{p.contato.funcionario}" />
					</p:column>
					<p:column headerText="Telefone" styleClass="coluna-fone">
						<p:outputLabel value="#{p.contato.comercial}"/>
					</p:column>
					<p:column headerText="Fundação" styleClass="coluna-cpf">
						<p:outputLabel value="#{p.datafundacao}">
							<f:convertDateTime timeZone="America/Fortaleza" />
						</p:outputLabel>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>