<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de setores</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{setorBean.iniciar}"/>
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Setor" styleClass="panel-formulario">
				<h:form id="frm-setor">
					<p:focus for="setor"/>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-5, ui-grid-col-6">
						<p:panelGrid>
							<h:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" disabled="#{empty setorBean.setor}" styleClass="somente-leitura" readonly="true" value="#{setorBean.setor.pksetor}" />
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Descrição do setor" for="setor" />
							<p:inputText id="setor" onkeyup="maiusculo(this)" disabled="#{empty setorBean.setor}" required="true" value="#{setorBean.setor.setor}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Setor relacionado" for="setor-relacionado" />
							<p:autoComplete id="setor-relacionado"
									value="#{setorBean.setor.setorBean}"
									title="Selecione o Setor a relacionar." 
									disabled="#{empty setorBean.setor}"
									onkeyup="maiusculo(this)"
									var="setor"
									itemValue="#{setor}"
									itemLabel="#{setor.setor}" 
									completeMethod="#{setorBean.listarSetores}"
									minQueryLength="1"
									maxResults="100"
									queryDelay="1000"
									effect="blind"
									dropdownMode="current"
									forceSelection="true"
									scrollHeight="150"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{setorBean.novo}" rendered="#{empty setorBean.setor}" update="frm-setor" />
						<p:commandButton value="Salvar" action="#{setorBean.salvar}" icon="fa fa-save" rendered="#{not empty setorBean.setor}" update="frm-setor frm-localizar" />
						<p:commandButton value="Excluir" action="#{setorBean.remover}" process="@this" icon="fa fa-remove" update="frm-setor frm-localizar" disabled="#{empty setorBean.setor.pksetor}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o Setor?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{setorBean.limpar}" icon="fa fa-refresh" disabled="#{empty setorBean.setor}" update="frm-setor" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator/>
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-setor" title="Pesquisa pelo nome do setor." onkeyup="maiusculo(this)" value="#{setorBean.nomesetor}" placeholder="Descrição do Setor" />
						<p:commandButton value="Pesquisar" action="#{setorBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty setorBean.setores}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-setores" fileName="Relação_setores"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty setorBean.setores}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
			   					<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-setores" fileName="Relação_setores" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
			  		<p:dataTable 
						value="#{setorBean.setores}" 
						id="lista-de-setores" 
						var="s"
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
			 			paginator="true" reflow="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{setorBean.setor}"
			 			selectionMode="single"
			 			rowKey="#{s.pksetor}">
			 				<p:ajax event="rowSelect" update="frm-setor" />
			 				<p:ajax event="rowUnselect" update="frm-setor" />
							<p:column headerText="Código" styleClass="coluna-codigo">
								<p:outputLabel value="#{s.pksetor}"/>
							</p:column>
							<p:column headerText="Setor">
								<p:outputLabel value="#{s.setor}"/>
							</p:column>
					</p:dataTable>	
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>