<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de grupos</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{bairroBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Bairro" styleClass="panel-formulario">
				<h:form id="frm-bairro">
					<p:focus for="bairro" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-6, ui-grid-col-5">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" readonly="true" disabled="#{empty bairroBean.bairro}" id="codigo" value="#{bairroBean.bairro.pkbairro}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do bairro" for="bairro" />
							<p:inputText id="bairro" required="true" onkeyup="maiusculo(this)" disabled="#{empty bairroBean.bairro}" value="#{bairroBean.bairro.bairro}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Município" for="municipio" />
							<p:autoComplete id="municipio"
								value="#{bairroBean.bairro.municipio}"
								title="Selecione o Município do Bairro."
								disabled="#{empty bairroBean.bairro}"
								required="true"
								var="municipio"
								itemLabel="#{municipio.municipio} #{municipio.uf.sigla}" 
								itemValue="#{municipio}"
								completeMethod="#{bairroBean.listarMunicipios}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
						</p:panelGrid>					
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{bairroBean.novo}" rendered="#{empty bairroBean.bairro}" update="frm-bairro" />
						<p:commandButton value="Salvar" action="#{bairroBean.salvar}" icon="fa fa-save" rendered="#{not empty bairroBean.bairro}" update="frm-bairro frm-localizar" />
						<p:commandButton value="Excluir" action="#{bairroBean.remover}" update="frm-bairro frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty bairroBean.bairro.pkbairro}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{bairroBean.limpar}" icon="fa fa-refresh" disabled="#{empty bairroBean.bairro}" update="frm-bairro" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-bairro" title="Pesquisa pelo nome do bairro." onkeyup="maiusculo(this)" value="#{bairroBean.nomeBairro}" placeholder="Descrição do Bairro" />
						<p:commandButton value="Pesquisar" action="#{bairroBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty bairroBean.bairros}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-bairros" fileName="Relação_bairros"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty bairroBean.bairros}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-bairros" fileName="Relação_bairros" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{bairroBean.bairros}" 
						id="lista-de-bairros" 
						var="b" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{bairroBean.bairro}" 
						selectionMode="single" 
						rowKey="#{b.pkbairro}">
						<p:ajax event="rowSelect" update="frm-bairro" />
			 			<p:ajax event="rowUnselect" update="frm-bairro" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{b.pkbairro}" />
						</p:column>
						<p:column headerText="Bairro">
							<p:outputLabel value="#{b.bairro}" />
						</p:column>
						<p:column headerText="Município">
							<p:outputLabel value="#{b.municipio.municipio} - #{b.municipio.uf.sigla}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>