<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Bancos</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{bancoBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Banco" styleClass="panel-formulario">
				<h:form id="frm-banco">
					<p:focus for="banco" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-5, ui-grid-col-2">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" value="#{bancoBean.banco.pkbanco}" disabled="#{empty bancoBean.banco}" styleClass="somente-leitura" readonly="true"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do Banco" for="banco" />
							<p:inputText id="banco" required="true" onkeyup="maiusculo(this)" disabled="#{empty bancoBean.banco}" value="#{bancoBean.banco.banco}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="CódFebraban" for="codigo-febraban" />
							<p:inputText id="codigo-febraban" value="#{bancoBean.banco.codfebraban}" disabled="#{empty bancoBean.banco}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{bancoBean.novo}"	rendered="#{empty bancoBean.banco}" update="frm-banco" />
						<p:commandButton value="Salvar" action="#{bancoBean.salvar}" icon="fa fa-save" rendered="#{not empty bancoBean.banco}" update="frm-banco frm-localizar" />
						<p:commandButton value="Excluir" action="#{bancoBean.remover}" update="frm-banco frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty bancoBean.banco.pkbanco}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{bancoBean.limpar}" icon="fa fa-refresh" disabled="#{empty bancoBean.banco}" update="frm-banco" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-grupo" title="Pesquisa pelo nome do Banco." onkeyup="maiusculo(this)" value="#{bancoBean.nomeBanco}" placeholder="Descrição do Banco" disabled="#{empty bancoBean.bancos}" />
						<p:commandButton value="Pesquisar" action="#{bancoBean.pesquisar}" icon="fa fa-search" update="frm-localizar" disabled="#{empty bancoBean.bancos}" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty bancoBean.bancos}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-bancos" fileName="Relação_bancos"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty bancoBean.bancos}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-bancos" fileName="Relação_bancos" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{bancoBean.bancos}" 
						id="lista-de-bancos" 
						var="b" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{bancoBean.banco}" 
						selectionMode="single" 
						rowKey="#{b.pkbanco}">
						<p:ajax event="rowSelect" update="frm-banco" />
			 			<p:ajax event="rowUnselect" update="frm-banco" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{b.pkbanco}" />
						</p:column>
						<p:column headerText="Banco">
							<p:outputLabel value="#{b.banco}" />
						</p:column>
						<p:column headerText="CódFebraban" styleClass="coluna-cpf">
							<p:outputLabel value="#{b.codfebraban}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>