<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Escolaridade</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{escolaridadeBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Escolaridade" styleClass="panel-formulario">
				<h:form id="frm-escolaridade">
					<p:focus for="escolaridade" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-6, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" readonly="true" id="codigo" value="#{escolaridadeBean.escolaridade.pkescolaridade}" disabled="#{empty escolaridadeBean.escolaridade}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da escolaridade" for="escolaridade" />
							<p:inputText id="escolaridade" required="true" onkeyup="maiusculo(this)" disabled="#{empty escolaridadeBean.escolaridade}" value="#{escolaridadeBean.escolaridade.escolaridade}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="CódEsc." for="codescolaridade" />
							<p:inputText id="codescolaridade" value="#{escolaridadeBean.escolaridade.codescolaridade}" disabled="#{empty escolaridadeBean.escolaridade}" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{escolaridadeBean.novo}"	rendered="#{empty escolaridadeBean.escolaridade}" update="frm-escolaridade" />
						<p:commandButton value="Salvar" action="#{escolaridadeBean.salvar}" icon="fa fa-save" rendered="#{not empty escolaridadeBean.escolaridade}" update="frm-escolaridade frm-localizar" />
						<p:commandButton value="Excluir" action="#{escolaridadeBean.remover}" update="frm-escolaridade frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty escolaridadeBean.escolaridade.pkescolaridade}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{escolaridadeBean.limpar}" icon="fa fa-refresh" disabled="#{empty escolaridadeBean.escolaridade}" update="frm-escolaridade" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-escolaridade" title="Pesquisa pelo nome da escolaridade." onkeyup="maiusculo(this)" value="#{escolaridadeBean.nomeEscolaridade}" placeholder="Descrição da escolaridade." />
						<p:commandButton value="Pesquisar" action="#{escolaridadeBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty escolaridadeBean.escolaridades}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-escolaridades" fileName="Relação_grau_instrução"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty escolaridadeBean.escolaridades}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-escolaridades" fileName="Relação_grau_instrução" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{escolaridadeBean.escolaridades}" 
						id="lista-de-escolaridades" 
						var="e" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{escolaridadeBean.escolaridade}" 
						selectionMode="single" 
						rowKey="#{e.pkescolaridade}">
						<p:ajax event="rowSelect" update="frm-escolaridade" />
			 			<p:ajax event="rowUnselect" update="frm-escolaridade" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{e.pkescolaridade}" />
						</p:column>
						<p:column headerText="Escolaridade">
							<p:outputLabel value="#{e.escolaridade}" />
						</p:column>
						<p:column headerText="CódEscol." styleClass="coluna-cnpj">
							<p:outputLabel value="#{e.codescolaridade}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>