<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Estado civil</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{estadoCivilBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Estado Civil" styleClass="panel-formulario">
				<h:form id="frm-estadocivil">
					<p:focus for="estadocivil" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" value="#{estadoCivilBean.estadoCivil.pkestadocivil}" disabled="#{empty estadoCivilBean.estadoCivil}" styleClass="somente-leitura" readonly="true" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do estado civil" for="estadocivil" />
							<p:inputText id="estadocivil" value="#{estadoCivilBean.estadoCivil.estadocivil}" required="true" disabled="#{empty estadoCivilBean.estadoCivil}" onkeyup="maiusculo(this)" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="CódEstCivil" for="codestcivil" />
							<p:inputText id="codestcivil" value="#{estadoCivilBean.estadoCivil.codestadocivil}" required="true" disabled="#{empty estadoCivilBean.estadoCivil}" onkeyup="maiusculo(this)" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{estadoCivilBean.novo}" rendered="#{empty estadoCivilBean.estadoCivil}" update="frm-estadocivil" />
						<p:commandButton value="Salvar" action="#{estadoCivilBean.salvar}" icon="fa fa-save" rendered="#{not empty estadoCivilBean.estadoCivil}" update="frm-estadocivil frm-localizar" />
						<p:commandButton value="Excluir" action="#{estadoCivilBean.remover}" update="frm-estadocivil frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty estadoCivilBean.estadoCivil.pkestadocivil}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{estadoCivilBean.limpar}" icon="fa fa-refresh" disabled="#{empty estadoCivilBean.estadoCivil}" update="frm-estadocivil" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-estadocivil" title="Pesquisa pelo nome do estado civil." onkeyup="maiusculo(this)" value="#{estadoCivilBean.nomeEstadoCivil}" placeholder="Descrição do estado civil." disabled="#{empty estadoCivilBean.estadosCivis}" />
						<p:commandButton value="Pesquisar" action="#{estadoCivilBean.pesquisar}" icon="fa fa-search" update="frm-localizar" disabled="#{empty estadoCivilBean.estadosCivis}" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty estadoCivilBean.estadosCivis}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-estadoscivis" fileName="Relação_estadocivil"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty estadoCivilBean.estadosCivis}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-estadoscivis" fileName="Relação_estadocivil" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{estadoCivilBean.estadosCivis}" 
						id="lista-de-estadoscivis" 
						var="e" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{estadoCivilBean.estadoCivil}" 
						selectionMode="single" 
						rowKey="#{e.pkestadocivil}">
						<p:ajax event="rowSelect" update="frm-estadocivil" />
			 			<p:ajax event="rowUnselect" update="frm-estadocivil" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{e.pkestadocivil}" />
						</p:column>
						<p:column headerText="Estado civil">
							<p:outputLabel value="#{e.estadocivil}" />
						</p:column>
						<p:column headerText="CódEstCivil" styleClass="coluna-cpf">
							<p:outputLabel value="#{e.codestadocivil}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>