<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Município</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{municipioBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Município" styleClass="panel-formulario">
				<h:form id="frm-municipio">
					<p:focus for="municipio" />
					<p:panelGrid columns="5" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1, ui-grid-col-3, ui-grid-col-3">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty municipioBean.municipio}" readonly="true" id="codigo" value="#{municipioBean.municipio.pkmunicipio}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do Município" for="municipio" />
							<p:inputText id="municipio" required="true" onkeyup="maiusculo(this)" disabled="#{empty municipioBean.municipio}" value="#{municipioBean.municipio.municipio}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Cód. IBGE" for="codibge" />
							<p:inputText id="codibge" value="#{municipioBean.municipio.codmunicipio}" disabled="#{empty municipioBean.municipio}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Gentílico" for="gentilico" />
							<p:inputText id="gentilico" value="#{municipioBean.municipio.gentilico}" onkeyup="maiusculo(this)" disabled="#{empty municipioBean.municipio}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="UF" for="uf" />
							<p:autoComplete id="uf"
								value="#{municipioBean.municipio.uf}"
								title="Selecione a UF do Município."
								disabled="#{empty municipioBean.municipio}"
								required="true"
								var="uf"
								itemLabel="#{uf.uf}" 
								itemValue="#{uf}"
								completeMethod="#{municipioBean.listarUfs}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{municipioBean.novo}" rendered="#{empty municipioBean.municipio}" update="frm-municipio" />
						<p:commandButton value="Salvar" action="#{municipioBean.salvar}" icon="fa fa-save" rendered="#{not empty municipioBean.municipio}" update="frm-municipio frm-localizar" />
						<p:commandButton value="Excluir" action="#{municipioBean.remover}" update="frm-municipio frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty municipioBean.municipio.pkmunicipio}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{municipioBean.limpar}" icon="fa fa-refresh" disabled="#{empty municipioBean.municipio}" update="frm-municipio" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-municipio" title="Pesquisa pelo nome do Município." onkeyup="maiusculo(this)" value="#{municipioBean.nomeMunicipio}" placeholder="Descrição do Município" />
						<p:commandButton value="Pesquisar" action="#{municipioBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty municipioBean.municipios}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-municipios" fileName="Relação_municípios"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty municipioBean.municipios}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-municipios" fileName="Relação_municípios" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{municipioBean.municipios}"
						id="lista-de-municipios" 
						var="m" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{municipioBean.municipio}" 
						selectionMode="single" 
						rowKey="#{m.pkmunicipio}">
						<p:ajax event="rowSelect" update="frm-municipio" />
			 			<p:ajax event="rowUnselect" update="frm-municipio" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{m.pkmunicipio}" />
						</p:column>
						<p:column headerText="Município">
							<p:outputLabel value="#{m.municipio}" />
						</p:column>
						<p:column headerText="Gentílico">
							<p:outputLabel value="#{m.gentilico}" />
						</p:column>
						<p:column headerText="UF" styleClass="coluna-codigo">
							<p:outputLabel value="#{m.uf.sigla}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>