<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de nacionalidade</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{nacionalidadeBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Nacionalidade" styleClass="panel-formulario">
				<h:form id="frm-nacionalidade">
					<p:focus for="nacionalidade" />
					<p:panelGrid columns="4" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1, ui-grid-col-3">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty nacionalidadeBean.nacionalidade}" readonly="true" id="codigo" value="#{nacionalidadeBean.nacionalidade.pknacionalidade}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Nacionalidade" for="nacionalidade" />
							<p:inputText id="nacionalidade" required="true" onkeyup="maiusculo(this)" disabled="#{empty nacionalidadeBean.nacionalidade}" value="#{nacionalidadeBean.nacionalidade.nacionalidade}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Cód Nacion." for="codnacionalidade" />
							<p:inputText id="codnacionalidade" onkeyup="maiusculo(this)" disabled="#{empty nacionalidadeBean.nacionalidade}" value="#{nacionalidadeBean.nacionalidade.codnacionalidade}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="País" for="pais" />
							<p:autoComplete id="pais"
								value="#{nacionalidadeBean.nacionalidade.pais}"
								title="Selecione o País da Nacionalidade."
								disabled="#{empty nacionalidadeBean.nacionalidade}"
								required="true"
								var="pais"
								itemLabel="#{pais.pais}" 
								itemValue="#{pais}"
								completeMethod="#{nacionalidadeBean.listarPaises}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{nacionalidadeBean.novo}" rendered="#{empty nacionalidadeBean.nacionalidade}" update="frm-nacionalidade" />
						<p:commandButton value="Salvar" action="#{nacionalidadeBean.salvar}" icon="fa fa-save" rendered="#{not empty nacionalidadeBean.nacionalidade}" update="frm-nacionalidade frm-localizar" />
						<p:commandButton value="Excluir" action="#{nacionalidadeBean.remover}" update="frm-nacionalidade frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty nacionalidadeBean.nacionalidade.pknacionalidade}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{nacionalidadeBean.limpar}" icon="fa fa-refresh" disabled="#{empty nacionalidadeBean.nacionalidade}" update="frm-nacionalidade" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-nacionalidade" title="Pesquisa pelo nome da nacionalidade." onkeyup="maiusculo(this)" value="#{nacionalidadeBean.nomeNacionalidade}" placeholder="Descrição da nacionalidade." />
						<p:commandButton value="Pesquisar" action="#{nacionalidadeBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty nacionalidadeBean.nacionalidades}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-nacionalidades" fileName="Relação_nacionalidades"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty nacionalidadeBean.nacionalidades}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-nacionalidades" fileName="Relação_nacionalidades" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{nacionalidadeBean.nacionalidades}" 
						id="lista-de-nacionalidades" 
						var="nacionalidade" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{nacionalidadeBean.nacionalidade}" 
						selectionMode="single" 
						rowKey="#{nacionalidade.pknacionalidade}">
						<p:ajax event="rowSelect" update="frm-nacionalidade" />
			 			<p:ajax event="rowUnselect" update="frm-nacionalidade" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{nacionalidade.pknacionalidade}" />
						</p:column>
						<p:column headerText="Nacionalidade">
							<p:outputLabel value="#{nacionalidade.nacionalidade}" />
						</p:column>
						<p:column headerText="País">
							<p:outputLabel value="#{nacionalidade.pais.pais}" />
						</p:column>
						<p:column headerText="CódNac." styleClass="coluna-cnpj">
							<p:outputLabel value="#{nacionalidade.codnacionalidade}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>