<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de ocupação</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{ocupacaoBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Ocupação" styleClass="panel-formulario">
				<h:form id="frm-ocupacao">
					<p:focus for="ocupacao" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-6, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty ocupacaoBean.ocupacao}" readonly="true" id="codigo" value="#{ocupacaoBean.ocupacao.pkocupacao}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da ocupação" for="ocupacao" />
							<p:inputText id="ocupacao" required="true" onkeyup="maiusculo(this)" disabled="#{empty ocupacaoBean.ocupacao}" value="#{ocupacaoBean.ocupacao.ocupacao}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="C.B.O." for="cbo" title="Cadastro Brasileiro de ocupação" />
							<p:inputText id="cbo" required="true" title="Cadastro Brasileiro de ocupação" onkeyup="maiusculo(this)" disabled="#{empty ocupacaoBean.ocupacao}" value="#{ocupacaoBean.ocupacao.cbo}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{ocupacaoBean.novo}"	rendered="#{empty ocupacaoBean.ocupacao}" update="frm-ocupacao" />
						<p:commandButton value="Salvar" action="#{ocupacaoBean.salvar}" icon="fa fa-save" rendered="#{not empty ocupacaoBean.ocupacao}" update="frm-ocupacao frm-localizar" />
						<p:commandButton value="Excluir" action="#{ocupacaoBean.remover}" update="frm-ocupacao frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty ocupacaoBean.ocupacao.pkocupacao}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{ocupacaoBean.limpar}" icon="fa fa-refresh" disabled="#{empty ocupacaoBean.ocupacao}" update="frm-ocupacao" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1,ui-grid-col-6">
						<p:inputText id="nome-ocupacao" title="Pesquisa pelo nome da ocupação." onkeyup="maiusculo(this)" value="#{ocupacaoBean.nomeOcupacao}" placeholder="Descrição da Ocupação." />
						<p:commandButton value="Pesquisar" action="#{ocupacaoBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty ocupacaoBean.ocupacoes}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-ocupacoes" fileName="Relação_ocupações"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty ocupacaoBean.ocupacoes}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-ocupacoes" fileName="Relação_ocupações" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{ocupacaoBean.ocupacoes}" 
						id="lista-de-ocupacoes" 
						var="ocup" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{ocupacaoBean.ocupacao}" 
						selectionMode="single" 
						rowKey="#{ocup.pkocupacao}">
						<p:ajax event="rowSelect" update="frm-ocupacao" />
			 			<p:ajax event="rowUnselect" update="frm-ocupacao" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{ocup.pkocupacao}" />
						</p:column>
						<p:column headerText="Ocupação">
							<p:outputLabel value="#{ocup.ocupacao}" />
						</p:column>
						<p:column headerText="C.B.O." styleClass="coluna-cnpj">
							<p:outputLabel value="#{ocup.cbo}" title="Cadastro Brasileiro de ocupação" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>