<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de País</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{paisBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de País" styleClass="panel-formulario">
				<h:form id="frm-pais">
					<p:focus for="pais" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" readonly="true" id="codigo" value="#{paisBean.pais.pkpais}" disabled="#{empty paisBean.pais}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do País" for="pais" />
							<p:inputText id="pais" required="true" onkeyup="maiusculo(this)" disabled="#{empty paisBean.pais}" value="#{paisBean.pais.pais}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="SIgla" for="sigla" />
							<p:inputText id="sigla" required="true" onkeyup="maiusculo(this)" disabled="#{empty paisBean.pais}" value="#{paisBean.pais.sigla}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{paisBean.novo}"	rendered="#{empty paisBean.pais}" update="frm-pais" />
						<p:commandButton value="Salvar" action="#{paisBean.salvar}" icon="fa fa-save" rendered="#{not empty paisBean.pais}" update="frm-pais frm-localizar" />
						<p:commandButton value="Excluir" action="#{paisBean.remover}" update="frm-pais frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty paisBean.pais.pkpais}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{paisBean.limpar}" icon="fa fa-refresh" disabled="#{empty paisBean.pais}" update="frm-pais" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-pais" title="Pesquisa pelo nome do País." onkeyup="maiusculo(this)" value="#{paisBean.nomePais}" placeholder="Descrição do País" />
						<p:commandButton value="Pesquisar" action="#{paisBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty paisBean.paises}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-paises" fileName="Relação_países"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty paisBean.paises}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-paises" fileName="Relação_países" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{paisBean.paises}" 
						id="lista-de-paises" 
						var="p" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{paisBean.pais}" 
						selectionMode="single" 
						rowKey="#{p.pkpais}">
						<p:ajax event="rowSelect" update="frm-pais" />
			 			<p:ajax event="rowUnselect" update="frm-pais" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{p.pkpais}" />
						</p:column>
						<p:column headerText="País">
							<p:outputLabel value="#{p.pais}" />
						</p:column>
						<p:column headerText="Sigla" styleClass="coluna-codigo">
							<p:outputLabel value="#{p.sigla}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>