<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de grupos</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{racaCorBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de RaçaCor" styleClass="panel-formulario">
				<h:form id="frm-racacor">
					<p:focus for="racacor" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" readonly="true" id="codigo" value="#{racaCorBean.racaCor.pkracacor}" disabled="#{empty racaCorBean.racaCor}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da RaçaCor" for="racacor" />
							<p:inputText id="racacor" required="true" onkeyup="maiusculo(this)" disabled="#{empty racaCorBean.racaCor}" value="#{racaCorBean.racaCor.racacor}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="CódRaçaCor" for="codigo-racacor" />
							<p:inputText id="codigo-racacor" onkeyup="maiusculo(this)" required="true" value="#{racaCorBean.racaCor.codracacor}" disabled="#{empty racaCorBean.racaCor}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{racaCorBean.novo}"	rendered="#{empty racaCorBean.racaCor}" update="frm-racacor" />
						<p:commandButton value="Salvar" action="#{racaCorBean.salvar}" icon="fa fa-save" rendered="#{not empty racaCorBean.racaCor}" update="frm-racacor frm-localizar" />
						<p:commandButton value="Excluir"  action="#{racaCorBean.remover}" update="frm-racacor frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty racaCorBean.racaCor.pkracacor}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{racaCorBean.limpar}" icon="fa fa-refresh" disabled="#{empty racaCorBean.racaCor}" update="frm-racacor" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-racacor" title="Pesquisa pelo nome da RaçaCor." onkeyup="maiusculo(this)" value="#{racaCorBean.nomeRacaCor}" placeholder="Descrição da RaçaCor" />
						<p:commandButton value="Pesquisar" action="#{racaCorBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty racaCorBean.racasCor}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-racasCor" fileName="Relação_raças_cor"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty racaCorBean.racasCor}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-racasCor" fileName="Relação_raças_cor" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{racaCorBean.racasCor}" 
						id="lista-de-racasCor" 
						var="r" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{racaCorBean.racaCor}" 
						selectionMode="single" 
						rowKey="#{r.pkracacor}">
						<p:ajax event="rowSelect" update="frm-racacor" />
			 			<p:ajax event="rowUnselect" update="frm-racacor" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{r.pkracacor}" />
						</p:column>
						<p:column headerText="RaçaCor">
							<p:outputLabel value="#{r.racacor}" />
						</p:column>
						<p:column headerText="CódRacaCor" styleClass="coluna-codigo">
							<p:outputLabel value="#{r.codracacor}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>