<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de UF</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{ufBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de UF" styleClass="panel-formulario">
				<h:form id="frm-uf">
					<p:focus for="uf" />
					<p:panelGrid columns="5" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1, ui-grid-col-1, ui-grid-col-4">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty ufBean.uf}" readonly="true" id="codigo" value="#{ufBean.uf.pkuf}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da UF" for="uf" />
							<p:inputText id="uf" required="true" onkeyup="maiusculo(this)" disabled="#{empty ufBean.uf}" value="#{ufBean.uf.uf}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Sigla" for="sigla" />
							<p:inputText id="sigla" required="true" onkeyup="maiusculo(this)" disabled="#{empty ufBean.uf}" value="#{ufBean.uf.sigla}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Cód IBGE" for="codibge" />
							<p:inputText id="codibge" required="true" onkeyup="maiusculo(this)" disabled="#{empty ufBean.uf}" value="#{ufBean.uf.codibge}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="País" for="pais" />
							<p:autoComplete id="pais"
								value="#{ufBean.uf.pais}"
								title="Selecione o País da UF."
								disabled="#{empty ufBean.uf}"
								var="pais"
								itemLabel="#{pais.pais}" 
								itemValue="#{pais}"
								completeMethod="#{ufBean.listarPaises}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{ufBean.novo}"	rendered="#{empty ufBean.uf}" update="frm-uf" />
						<p:commandButton value="Salvar" action="#{ufBean.salvar}" icon="fa fa-save" rendered="#{not empty ufBean.uf}" update="frm-uf frm-localizar" />
						<p:commandButton value="Excluir" action="#{ufBean.remover}" update="frm-uf frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty ufBean.uf.pkuf}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{ufBean.limpar}" icon="fa fa-refresh" disabled="#{empty ufBean.uf}" update="frm-uf" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-uf" title="Pesquisa pelo nome da UF." onkeyup="maiusculo(this)" value="#{ufBean.nomeUF}" placeholder="Descrição da UF." />
						<p:commandButton value="Pesquisar" action="#{ufBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty ufBean.ufs}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-ufs" fileName="Relação_estados"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty ufBean.ufs}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-ufs" fileName="Relação_estados" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{ufBean.ufs}" 
						id="lista-de-ufs" 
						var="uf" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{ufBean.uf}" 
						selectionMode="single" 
						rowKey="#{uf.pkuf}">
						<p:ajax event="rowSelect" update="frm-uf" />
			 			<p:ajax event="rowUnselect" update="frm-uf" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{uf.pkuf}" />
						</p:column>
						<p:column headerText="UF">
							<p:outputLabel value="#{uf.uf}" />
						</p:column>
						<p:column headerText="País">
							<p:outputLabel value="#{uf.pais.pais}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>