<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de ano letivo</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{anoLetivoBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Ano letivo" styleClass="panel-formulario">
				<h:form id="frm-ano-letivo">
					<p:focus for="ano-letivo" />
					<p:panelGrid columns="5" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" readonly="true" disabled="#{empty anoLetivoBean.anoLetivo}" id="codigo" value="#{anoLetivoBean.anoLetivo.pkanoletivo}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do ano letivo" for="ano-letivo" />
							<p:inputText id="ano-letivo" value="#{anoLetivoBean.anoLetivo.anoletivo}" required="true" onkeyup="maiusculo(this)" disabled="#{empty anoLetivoBean.anoLetivo}" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Data início" for="data-inicio" />
							<p:calendar id="data-inicio" value="#{anoLetivoBean.anoLetivo.datainicio}"
								disabled="#{empty anoLetivoBean.anoLetivo}" maskAutoClear="true"
								locale="#{usuario.locale}" required="true" navigator="true" mask="true"/>							
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Data fim" for="data-fim" />
							<p:calendar id="data-fim" value="#{anoLetivoBean.anoLetivo.datafim}"
								disabled="#{empty anoLetivoBean.anoLetivo}" mindate="#{anoLetivoBean.anoLetivo.datainicio}" maskAutoClear="true"
								locale="#{usuario.locale}" required="true" navigator="true" mask="true"/>							
						</p:panelGrid>	
						<p:panelGrid>
							<p:outputLabel value="Quantidade de dias" for="qtde-dias" />
							<p:inputText id="qtde-dias" value="#{anoLetivoBean.anoLetivo.dias}" required="true"  onkeyup="maiusculo(this)" disabled="#{empty anoLetivoBean.anoLetivo}" />
						</p:panelGrid>					
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{anoLetivoBean.novo}" rendered="#{empty anoLetivoBean.anoLetivo}" update="frm-ano-letivo" />
						<p:commandButton value="Salvar" action="#{anoLetivoBean.salvar}" icon="fa fa-save" rendered="#{not empty anoLetivoBean.anoLetivo}" update="frm-ano-letivo frm-localizar" />
						<p:commandButton value="Excluir" action="#{anoLetivoBean.remover}" update="frm-ano-letivo frm-localizar" process="@this" icon="fa fa-remove" disabled="#{empty anoLetivoBean.anoLetivo.pkanoletivo}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{anoLetivoBean.limpar}" icon="fa fa-refresh" disabled="#{empty anoLetivoBean.anoLetivo}"  update="frm-ano-letivo" immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-ano-letivo" title="Pesquisa pela descrição do ano letivo." onkeyup="maiusculo(this)" value="#{anoLetivoBean.nomeAnoLetivo}" placeholder="Descrição do ano letivo" />
						<p:commandButton value="Pesquisar" action="#{anoLetivoBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty anoLetivoBean.anosLetivos}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" encoding="#{usuario.encoding}" target="lista-de-anos-letivos" fileName="Relação_anos_letivos"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty anoLetivoBean.anosLetivos}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
				   				<p:dataExporter type="pdf" encoding="#{usuario.encoding}" target="lista-de-anos-letivos" fileName="Relação_anos_letivos" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
					<p:dataTable 
						value="#{anoLetivoBean.anosLetivos}" 
						id="lista-de-anos-letivos" 
						var="a" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{anoLetivoBean.anoLetivo}" 
						selectionMode="single" 
						rowKey="#{a.pkanoletivo}">
						<p:ajax event="rowSelect" update="frm-ano-letivo" />
			 			<p:ajax event="rowUnselect" update="frm-ano-letivo" />
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{a.pkanoletivo}" />
						</p:column>
						<p:column headerText="Ano letivo">
							<p:outputLabel value="#{a.anoletivo}" />
						</p:column>
						<p:column headerText="Data início" styleClass="coluna-cpf">
							<p:outputLabel value="#{a.datainicio}" >
								<f:convertDateTime />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Data fim" styleClass="coluna-cpf">
							<p:outputLabel value="#{a.datafim}" >
								<f:convertDateTime />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Dias" styleClass="coluna-codigo">
							<p:outputLabel value="#{a.dias}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>