<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<title>LMSystem - Acesso ao sistema</title>
		<h:outputStylesheet library="css" name="estilo.css" />
	</h:head>
	<h:body>
		<p:ajaxStatus onstart="PF('status').show();"  onsuccess="PF('status').hide()" />
		<p:dialog widgetVar="status" closable="false" resizable="false" >
			Por favor aguarde ...
		</p:dialog>
		<p:growl autoUpdate="true"/>
		<h:form id="frm-login">
			<p:focus for="login"/>
			<p:panel styleClass="ui-fluid container" header="Acesso ao sistema" style="margin-top: 5%; width: 275px;">
				<p:panelGrid columns="1" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-12">
					<p:outputLabel value="Login" for="login" />
					<p:inputText title="Usuário" placeholder="Digite seu login" id="login" required="true" value="#{autenticacao.login}" />
					<p:outputLabel value="Senha" for="senha" />
					<p:password placeholder="Digite sua senha" title="Senha" id="senha" required="true" value="#{autenticacao.senha}" />
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-7">
						<p:commandButton value="Acessar" title="Acessar" action="#{autenticacao.autenticar}"/>
						<p:link value="Esqueceu a senha?" title="Recuperar senha!" disabled="true"/>
					</p:panelGrid>
				</p:panelGrid>
			</p:panel>
		</h:form>
	</h:body>
</html>